# Copy file này thành src/main/resources/db.properties rồi sửa thông tin kết nối SQL Server
serverName=localhost
portNumber=1433
databaseName=Smarttick
user=sa
password=your_password
encrypt=false
trustServerCertificate=true
