<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>SMARTTICK Skeleton</display-name>
    <servlet>
            <servlet-name>UpdateProductServlet</servlet-name>
            <servlet-class>Controllers.UpdateProductServlet</servlet-class>
        </servlet>
    <servlet>
            <servlet-name>DeleteProductServlet</servlet-name>
            <servlet-class>Controllers.DeleteProductServlet</servlet-class>
        </servlet>
    <servlet>
            <servlet-name>CreateSupplierServlet</servlet-name>
            <servlet-class>Controllers.CreateSupplierServlet</servlet-class>
        </servlet>
    <servlet>
            <servlet-name>UpdateSupplierServlet</servlet-name>
            <servlet-class>Controllers.UpdateSupplierServlet</servlet-class>
        </servlet>
    <servlet>
            <servlet-name>DeleteSupplierServlet</servlet-name>
            <servlet-class>Controllers.DeleteSupplierServlet</servlet-class>
        </servlet>
    <servlet>
            <servlet-name>ImportStockServlet</servlet-name>
            <servlet-class>Controllers.ImportStockServlet</servlet-class>
        </servlet>
    <servlet>
            <servlet-name>ProductDetailServlet</servlet-name>
            <servlet-class>Controllers.ProductDetailServlet</servlet-class>
        </servlet>
    <servlet>
            <servlet-name>ExportStockToFileServlet</servlet-name>
            <servlet-class>Controllers.ExportStockToFileServlet</servlet-class>
        </servlet>
    <servlet>
            <servlet-name>VerifyOTPServlet</servlet-name>
            <servlet-class>Controllers.VerifyOTPServlet</servlet-class>
        </servlet>
    <servlet>
            <servlet-name>ResetPasswordServlet</servlet-name>
            <servlet-class>Controllers.ResetPasswordServlet</servlet-class>
        </servlet>
    <servlet>
            <servlet-name>SendMailServlet</servlet-name>
            <servlet-class>Controllers.SendMailServlet</servlet-class>
        </servlet>
    <servlet>
            <servlet-name>CreateImportOrderServlet</servlet-name>
            <servlet-class>Controllers.CreateImportOrderServlet</servlet-class>
        </servlet>
    <servlet>
            <servlet-name>ViewImportOrderServlet</servlet-name>
            <servlet-class>Controllers.ViewImportOrderServlet</servlet-class>
        </servlet>
    <servlet>
            <servlet-name>ViewSupplierServlet</servlet-name>
            <servlet-class>Controllers.ViewSupplierServlet</servlet-class>
        </servlet>
    <servlet>
            <servlet-name>CustomerListServlet</servlet-name>
            <servlet-class>Controllers.CustomerListServlet</servlet-class>
        </servlet>
    <servlet>
            <servlet-name>ProductListServlet</servlet-name>
            <servlet-class>Controllers.ProductListServlet</servlet-class>
        </servlet>
    <servlet>
            <servlet-name>ViewProductServlet</servlet-name>
            <servlet-class>Controllers.ViewProductServlet</servlet-class>
        </servlet>
    <servlet>
            <servlet-name>ViewOrderListServlet</servlet-name>
            <servlet-class>Controllers.ViewOrderListServlet</servlet-class>
        </servlet>
    <servlet>
            <servlet-name>ViewOrderDetailServlet</servlet-name>
            <servlet-class>Controllers.ViewOrderDetailServlet</servlet-class>
        </servlet>
    <servlet>
            <servlet-name>UpdateOrderServlet</servlet-name>
            <servlet-class>Controllers.UpdateOrderServlet</servlet-class>
        </servlet>
    <servlet>
            <servlet-name>DeleteOrderServlet</servlet-name>
            <servlet-class>Controllers.DeleteOrderServlet</servlet-class>
        </servlet>
    <servlet>
            <servlet-name>CommentServlet</servlet-name>
            <servlet-class>Controllers.CommentServlet</servlet-class>
        </servlet>
    <servlet>
            <servlet-name>ViewListNewFeedbackServlet</servlet-name>
            <servlet-class>Controllers.ViewListNewFeedbackServlet</servlet-class>
        </servlet>
    <servlet>
            <servlet-name>ViewFeedbackForManager</servlet-name>
            <servlet-class>Controllers.ViewFeedbackForManagerServlet</servlet-class>
        </servlet>
    <servlet>
            <servlet-name>UpdateStatusCommentServlet</servlet-name>
            <servlet-class>Controllers.UpdateStatusCommentServlet</servlet-class>
        </servlet>
    <servlet>
            <servlet-name>ReplyFeedbackServlet</servlet-name>
            <servlet-class>Controllers.ReplyFeedbackServlet</servlet-class>
        </servlet>
    <servlet>
            <servlet-name>RegisterOTPServlet</servlet-name>
            <servlet-class>Controllers.RegisterOTPServlet</servlet-class>
        </servlet>
    <servlet>
            <servlet-name>ViewWarehouseServlet</servlet-name>
            <servlet-class>Controllers.ViewWarehouseServlet</servlet-class>
        </servlet>
    <servlet>
            <servlet-name>UpdateImportOrderServlet</servlet-name>
            <servlet-class>Controllers.UpdateImportOrderServlet</servlet-class>
        </servlet>
    <servlet>
            <servlet-name>DeleteImportOrderServlet</servlet-name>
            <servlet-class>Controllers.DeleteImportOrderServlet</servlet-class>
        </servlet>
    <servlet>
            <servlet-name>CreateProductServlet</servlet-name>
            <servlet-class>Controllers.CreateProductServlet</servlet-class>
        </servlet>
    <servlet>
            <servlet-name>ProductStatisticServlet</servlet-name>
            <servlet-class>Controllers.ProductStatisticServlet</servlet-class>
        </servlet>
    <servlet>
            <servlet-name>ShopDashboardServlet</servlet-name>
            <servlet-class>Controllers.ShopDashboardServlet</servlet-class>
        </servlet>
    <servlet>
            <servlet-name>SearchSupplierServlet</servlet-name>
            <servlet-class>Controllers.SearchSupplierServlet</servlet-class>
        </servlet>
    <servlet>
            <servlet-name>SearchProductServlet</servlet-name>
            <servlet-class>Controllers.SearchProductServlet</servlet-class>
        </servlet>
    <servlet>
            <servlet-name>InventoryStatisticServlet</servlet-name>
            <servlet-class>Controllers.InventoryStatisticServlet</servlet-class>
        </servlet>
    <servlet>
            <servlet-name>StatisticManagementServlet</servlet-name>
            <servlet-class>Controllers.StatisticManagementServlet</servlet-class>
        </servlet>
    <servlet>
            <servlet-name>RevenueStatisticServlet</servlet-name>
            <servlet-class>Controllers.RevenueStatisticServlet</servlet-class>
        </servlet>
    <servlet>
            <servlet-name>SearchInventoryServlet</servlet-name>
            <servlet-class>Controllers.SearchInventoryServlet</servlet-class>
        </servlet>
    <servlet>
            <servlet-name>UpdateReplyServlet</servlet-name>
            <servlet-class>Controllers.UpdateReplyServlet</servlet-class>
        </servlet>
    <servlet>
            <servlet-name>DeleteReplyServlet</servlet-name>
            <servlet-class>Controllers.DeleteReplyServlet</servlet-class>
        </servlet>
    <servlet>
            <servlet-name>UpdateEmployeeServlet</servlet-name>
            <servlet-class>Controllers.UpdateEmployeeServlet</servlet-class>
        </servlet>
    <servlet>
            <servlet-name>ViewVoucherListServlet</servlet-name>
            <servlet-class>Controllers.ViewVoucherListServlet</servlet-class>
        </servlet>
    <servlet>
            <servlet-name>ViewVoucherDetailServlet</servlet-name>
            <servlet-class>Controllers.ViewVoucherDetailServlet</servlet-class>
        </servlet>
    <servlet>
            <servlet-name>UpdateVoucherServlet</servlet-name>
            <servlet-class>Controllers.UpdateVoucherServlet</servlet-class>
        </servlet>
    <servlet>
            <servlet-name>DeleteVoucherServlet</servlet-name>
            <servlet-class>Controllers.DeleteVoucherServlet</servlet-class>
        </servlet>
    <servlet>
            <servlet-name>CreateVoucherServlet</servlet-name>
            <servlet-class>Controllers.CreateVoucherServlet</servlet-class>
        </servlet>
    <servlet>
            <servlet-name>AssignVoucherServlet</servlet-name>
            <servlet-class>Controllers.AssignVoucherServlet</servlet-class>
        </servlet>
    <servlet>
            <servlet-name>PreviewDeleteOrderServlet</servlet-name>
            <servlet-class>Controllers.PreviewDeleteOrderServlet</servlet-class>
        </servlet>
    <servlet>
            <servlet-name>AddEmployeeServlet</servlet-name>
            <servlet-class>Controllers.AddEmployeeServlet</servlet-class>
        </servlet>
    <servlet>
            <servlet-name>ViewEmployeeServlet</servlet-name>
            <servlet-class>Controllers.ViewEmployeeServlet</servlet-class>
        </servlet>
    <servlet>
            <servlet-name>ImportStatisticServlet</servlet-name>
            <servlet-class>Controllers.ImportStatisticServlet</servlet-class>
        </servlet>
    <servlet>
            <servlet-name>NotificationServlet</servlet-name>
            <servlet-class>Controllers.NotificationServlet</servlet-class>
        </servlet>
    <servlet>
            <servlet-name>SearchEmployeeServlet</servlet-name>
            <servlet-class>Controllers.SearchEmployeeServlet</servlet-class>
        </servlet>
    <servlet-mapping>
            <servlet-name>ViewProductServlet</servlet-name>
            <url-pattern>/</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
            <servlet-name>UpdateEmployeeServlet</servlet-name>
            <url-pattern>/UpdateEmployeeServlet</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
            <servlet-name>AddEmployeeServlet</servlet-name>
            <url-pattern>/AddEmployeeServlet</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
            <servlet-name>SearchEmployeeServlet</servlet-name>
            <url-pattern>/SearchEmployeeServlet</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
            <servlet-name>ViewEmployeeServlet</servlet-name>
            <url-pattern>/ViewEmployeeServlet</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
            <servlet-name>SearchInventoryServlet</servlet-name>
            <url-pattern>/SearchInventoryServlet</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
            <servlet-name>CreateProductServlet</servlet-name>
            <url-pattern>/CreateProductServlet</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
            <servlet-name>StatisticManagementServlet</servlet-name>
            <url-pattern>/StatisticManagementServlet</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
            <servlet-name>InventoryStatisticServlet</servlet-name>
            <url-pattern>/InventoryStatisticServlet</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
            <servlet-name>RevenueStatisticServlet</servlet-name>
            <url-pattern>/RevenueStatisticServlet</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
            <servlet-name>default</servlet-name>
            <url-pattern>/assets/*</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
            <servlet-name>CustomerListServlet</servlet-name>
            <url-pattern>/CustomerListServlet</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
            <servlet-name>ProductListServlet</servlet-name>
            <url-pattern>/ProductListServlet</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
            <servlet-name>ViewSupplierServlet</servlet-name>
            <url-pattern>/Supplier</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
            <servlet-name>ViewOrderListServlet</servlet-name>
            <url-pattern>/ViewOrderListServlet</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
            <servlet-name>ViewOrderDetailServlet</servlet-name>
            <url-pattern>/ViewOrderDetailServlet</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
            <servlet-name>UpdateOrderServlet</servlet-name>
            <url-pattern>/UpdateOrderServlet</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
            <servlet-name>DeleteOrderServlet</servlet-name>
            <url-pattern>/DeleteOrderServlet</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
            <servlet-name>CommentServlet</servlet-name>
            <url-pattern>/CommentServlet</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
            <servlet-name>ViewImportOrderServlet</servlet-name>
            <url-pattern>/ImportOrder</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
            <servlet-name>UpdateProductServlet</servlet-name>
            <url-pattern>/UpdateProductServlet</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
            <servlet-name>DeleteProductServlet</servlet-name>
            <url-pattern>/DeleteProductServlet</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
            <servlet-name>CreateSupplierServlet</servlet-name>
            <url-pattern>/CreateSupplier</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
            <servlet-name>UpdateSupplierServlet</servlet-name>
            <url-pattern>/UpdateSupplier</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
            <servlet-name>DeleteSupplierServlet</servlet-name>
            <url-pattern>/DeleteSupplier</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
            <servlet-name>ImportStockServlet</servlet-name>
            <url-pattern>/ImportStock</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
            <servlet-name>ProductDetailServlet</servlet-name>
            <url-pattern>/ProductDetailServlet</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
            <servlet-name>ExportStockToFileServlet</servlet-name>
            <url-pattern>/ExportStock</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
            <servlet-name>VerifyOTPServlet</servlet-name>
            <url-pattern>/VerifyOTPServlet</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
            <servlet-name>ResetPasswordServlet</servlet-name>
            <url-pattern>/ResetPasswordServlet</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
            <servlet-name>SendMailServlet</servlet-name>
            <url-pattern>/SendMailServlet</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
            <servlet-name>ViewListNewFeedbackServlet</servlet-name>
            <url-pattern>/ViewListNewFeedbackServlet</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
            <servlet-name>ViewFeedbackForManager</servlet-name>
            <url-pattern>/ViewFeedbackForManagerServlet</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
            <servlet-name>UpdateStatusCommentServlet</servlet-name>
            <url-pattern>/UpdateStatusCommentServlet</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
            <servlet-name>ReplyFeedbackServlet</servlet-name>
            <url-pattern>/ReplyFeedbackServlet</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
            <servlet-name>RegisterOTPServlet</servlet-name>
            <url-pattern>/RegisterOTPServlet</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
            <servlet-name>CreateImportOrderServlet</servlet-name>
            <url-pattern>/CreateImportOrder</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
            <servlet-name>ViewWarehouseServlet</servlet-name>
            <url-pattern>/Warehouse</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
            <servlet-name>UpdateImportOrderServlet</servlet-name>
            <url-pattern>/UpdateImportOrder</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
            <servlet-name>DeleteImportOrderServlet</servlet-name>
            <url-pattern>/DeleteImportOrder</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
            <servlet-name>ProductStatisticServlet</servlet-name>
            <url-pattern>/ProductStatisticServlet</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
            <servlet-name>ShopDashboardServlet</servlet-name>
            <url-pattern>/ShopDashboardServlet</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
            <servlet-name>SearchSupplierServlet</servlet-name>
            <url-pattern>/SearchSupplier</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
            <servlet-name>SearchProductServlet</servlet-name>
            <url-pattern>/SearchProduct</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
            <servlet-name>ImportStatisticServlet</servlet-name>
            <url-pattern>/ImportStatistic</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
            <servlet-name>NotificationServlet</servlet-name>
            <url-pattern>/NotificationServlet</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
            <servlet-name>UpdateReplyServlet</servlet-name>
            <url-pattern>/UpdateReplyServlet</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
            <servlet-name>DeleteReplyServlet</servlet-name>
            <url-pattern>/DeleteReplyServlet</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
            <servlet-name>ViewVoucherListServlet</servlet-name>
            <url-pattern>/ViewVoucherListServlet</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
            <servlet-name>ViewVoucherDetailServlet</servlet-name>
            <url-pattern>/ViewVoucherDetailServlet</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
            <servlet-name>UpdateVoucherServlet</servlet-name>
            <url-pattern>/UpdateVoucherServlet</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
            <servlet-name>DeleteVoucherServlet</servlet-name>
            <url-pattern>/DeleteVoucherServlet</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
            <servlet-name>CreateVoucherServlet</servlet-name>
            <url-pattern>/CreateVoucherServlet</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
            <servlet-name>AssignVoucherServlet</servlet-name>
            <url-pattern>/AssignVoucherServlet</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
            <servlet-name>PreviewDeleteOrderServlet</servlet-name>
            <url-pattern>/PreviewDeleteOrderServlet</url-pattern>
        </servlet-mapping>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
            <default-content-type>text/html; charset=UTF-8</default-content-type>
        </jsp-property-group>
    </jsp-config>
    <session-config>
        <session-timeout>30</session-timeout>
        <cookie-config><http-only>true</http-only></cookie-config>
    </session-config>
    <error-page><error-code>403</error-code><location>/errors/403.jsp</location></error-page>
    <error-page><error-code>404</error-code><location>/errors/404.jsp</location></error-page>
    <error-page><error-code>500</error-code><location>/errors/500.jsp</location></error-page>
</web-app>
